@font-face{
    font-family:'Fakt';
    src:url("../fonts/fakt/FaktPro-Blond.woff") format("woff"),url("../fonts/fakt/FaktPro-Blond.ttf") format("truetype");
    font-weight:400;
    font-style:normal;
    font-stretch:normal
}
@font-face{
    font-family:'Fakt';
    src:url("../fonts/fakt/FaktPro-BlondItalic.woff") format("woff"), url("../fonts/fakt/FaktPro-BlondItalic.ttf") format("truetype");
    font-weight:400;
    font-style:italic;
    font-stretch:normal
}
@font-face{
    font-family:'Fakt';
    src:url("../fonts/fakt/FaktPro-Normal.woff") format("woff"), url("../fonts/fakt/FaktPro-Normal.ttf") format("truetype");
    font-weight:500;
    font-style:normal;
    font-stretch:normal
}
@font-face{
    font-family:'Fakt';
    src:url("../fonts/fakt/FaktPro-NormalItalic.woff") format("woff"),url("../fonts/fakt/FaktPro-NormalItalic.ttf") format("truetype")
    font-weight:600;
    font-style:normal;
    font-stretch:normal
}
@font-face
{
    font-family:"icons";
    src:url("../fonts/Icons/icons.woff") format("woff"), url("../fonts/Icons/icons.ttf") format("truetype"), url("../fonts/Icons/icon.svg#adyen-website") format("svg");
    font-weight:normal;
    font-style:normal
}
